@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    box-sizing: border-box;


}


body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}


.btn{
    background-color:yellow;
    color: black;
    font-family: inherit;
    padding: 1rem;
    font-weight: bold;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
    
}


.btn:focus{
    outline: none;

}


.btn:active{
    transform: scale(0.98);
}


#toasts{
    position: fixed;
    bottom: 10px;
    right: 10px;
    flex-direction: column;
    align-items: flex-end;


}


.toast{
    background-color: white;
    color: rebeccapurple;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}



.toast.info{
    color: rebeccapurple;
}


.toast.success{
    color: green;
}


.toast.error{
    color: red;
}











































